@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*
{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body
{
    background: rgb(255, 255, 255);
    min-height: 0%;
}
header
{
    position: fixed;
    top: 0%;
    right: 0%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
    padding: 50px 100px;
    z-index: 100000;
}
header.Bar
{
    padding: 25px 100px;
    background: rgb(255, 255, 255);
}
header .G
{
    position: relative;
    font-weight: 10%;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 10px;
    transition: 1.5s;
}
header ul
{
    position: relative;
    display: flex;
    justify-content: right;
    align-items: center;
}
header ul li
{
    position: relative;
    text-decoration: none;
    transition-duration: 0.3s;
    transition-delay: 0s;
    transition-timing-function: ease;
}
header ul li a
{
    color: aliceblue;
    position: relative;
    margin: 15px;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 2000px;
    transition: 1.6s;
    font-size: 20px;
}
header ul li:hover
{
    transform: translateY(-10px);
}
header.Bar .G
{
    color: black;
}
header.Bar ul li a
{
    color: rgb(0, 0, 0);
}
.back-video
{
    position: absolute;
    width: 100%;
    z-index: -1;
}
.QW
{
    color: azure;
    position: relative;
    font-size: 2em;
    top: 1000px;
    left: 100px; 
    transition: 1s;
}
.QWQ
{
    color: azure;
    position: relative;
    font-size: 1em;
    top: 800px;
    left: 120px;
}
body
{
    overflow-x: hidden;

}
.Fao
{
    position: relative;
    color: azure;
    position: relative;
    font-size: 5em;
    top: 200px;
    left: 300px; 
    transition: 1s;
}
.Fao:hover
{
    transform: translate(-100px);

}